<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    {% include 'main_app/utilities/menu.html' %}

    <h1>Please <a href="{% url 'register' %}" class="telegram-login-button">REGISTER</a> if you don't have account</h1>

    <h2>If you have one, please <a href="{% url 'login' %}" class="telegram-login-button">LOGIN</a></h2>

    {% include 'main_app/utilities/messages.html' %}
</body>
</html>